.portfolio-section {
    background: linear-gradient(to right, rgb(245, 228, 212), #fcf7f3);
    padding: 30px;
}

.portfolio-section h2 {
    text-align: center;
}

.portfolio-grid {
    display: flex;
    justify-content: space-around;
}

.portfolio-grid img {
    width: 370px;
    height: 200px;
}