.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    position: relative;
    z-index: 10;
    height: 40px;
  }
  
  .header-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
  }
  
  .menu-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .menu-icon:hover {
    transform: scale(1.1);
  }
  
  .burger-menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }