.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    color: #fff;
    position: relative;
    z-index: 10;
    height: 40px;
    max-width: 100%;
  }
  
  .header-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
  }
  
    .menu-icon {
      width: 30px;
      height: 30px;
      cursor: pointer;
      filter: brightness(0) invert(1);
      /* Превращает иконку в белую */
      transition: filter 0.3s, transform 0.2s ease;
    }
  
    .menu-icon:hover {
      transform: scale(1.1);
      filter: brightness(0.8) invert(1.2);
    }
  
    .burger-menu {
      position: relative;
    }
  
    .burger-menu-content {
      display: none;
      position: absolute;
      top: 80px;
      right: 0;
      width: 150px;
      height: auto;
      background-color: whitesmoke;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 10;
    }
  
    .burger-menu:hover .burger-menu-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }