.vision {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #202020, #030303);
    padding: 30px 40px;
    color: white;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.journey {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: start;
    justify-self: start;
    padding: 0;
}

.my-vision {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: end;
    justify-self: end;
    padding: 0;
}

.vision p {
    line-height: 1.6;
}

